*{
    margin: 0;
    padding: 0;
}

.addUser{
    position: absolute;
    top: 15%;
    right: 20%;
}
.updateUser{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    position: relative;
    background-color: #fff;
    width: fit-content;
    padding: 1rem;
    box-shadow: 0px 0px 10px 2px #bbbbbb;
    border-radius: 8px;
    margin-top: 20px;
    z-index: 999;
}

.form label{
    font-size: 18px;
}

.form input{
    padding: 8px;
    border-radius: 5px;
    border-style: none;
    border: 1px solid #676767;
}
.hidden{
    display:none;
}